<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDisplayName</key>
        <string>Boom</string>
        <key>CFBundleExecutable</key>
        <string>Boom</string>
        <key>CFBundleIconFile</key>
        <string>icon.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.austinpoor.boom</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>Boom</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>0.159.5</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>boomDesktop</string>
                </array>
            </dict>
        </array>
        <key>CFBundleVersion</key>
        <string>0.159.5.65928</string>
        <key>DTCompiler</key>
        <string>com.apple.compilers.llvm.clang.1_0</string>
        <key>DTSDKBuild</key>
        <string>12.3</string>
        <key>DTSDKName</key>
        <string>macosx12.3</string>
        <key>DTXcode</key>
        <string>1331</string>
        <key>DTXcodeBuild</key>
        <string>13E500a</string>
        <key>ElectronAsarIntegrity</key>
        <dict>
            <key>Resources/app.asar</key>
            <dict>
                <key>algorithm</key>
                <string>SHA256</string>
                <key>hash</key>
                <string>bac4e37502a76cd2d92d47fe1acac89849af6d0b27f9574705ee94f7afb64656</string>
            </dict>
        </dict>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.developer-tools</string>
        <key>LSEnvironment</key>
        <dict>
            <key>MallocNanoZone</key>
            <string>0</string>
        </dict>
        <key>LSMinimumSystemVersion</key>
        <string>10.14</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true />
            <key>NSAllowsLocalNetworking</key>
            <true />
            <key>NSExceptionDomains</key>
            <dict>
                <key>127.0.0.1</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <false />
                    <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                    <true />
                    <key>NSTemporaryExceptionAllowsInsecureHTTPSLoads</key>
                    <false />
                    <key>NSTemporaryExceptionMinimumTLSVersion</key>
                    <string>1.0</string>
                    <key>NSTemporaryExceptionRequiresForwardSecrecy</key>
                    <false />
                </dict>
                <key>localhost</key>
                <dict>
                    <key>NSIncludesSubdomains</key>
                    <false />
                    <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                    <true />
                    <key>NSTemporaryExceptionAllowsInsecureHTTPSLoads</key>
                    <false />
                    <key>NSTemporaryExceptionMinimumTLSVersion</key>
                    <string>1.0</string>
                    <key>NSTemporaryExceptionRequiresForwardSecrecy</key>
                    <false />
                </dict>
            </dict>
        </dict>
        <key>NSAppleEventsUsageDescription</key>
        <string>Boom needs this permission to bring the window you would like to record to the front</string>
        <key>NSBluetoothAlwaysUsageDescription</key>
        <string>This app needs access to Bluetooth</string>
        <key>NSBluetoothPeripheralUsageDescription</key>
        <string>This app needs access to Bluetooth</string>
        <key>NSCameraUsageDescription</key>
        <string>Boom requires camera access for use only during recordings</string>
        <key>NSHighResolutionCapable</key>
        <true />
        <key>NSHumanReadableCopyright</key>
        <string>Copyright © 2023 Boom, Inc.</string>
        <key>NSMainNibFile</key>
        <string>MainMenu</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>Boom requires microphone access for use only during recordings</string>
        <key>NSPrincipalClass</key>
        <string>AtomApplication</string>
        <key>NSQuitAlwaysKeepsWindows</key>
        <false />
        <key>NSRequiresAquaSystemAppearance</key>
        <false />
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true />
    </dict>
</plist>